<th:block th:fragment="user-sidebar" xmlns:th="http://www.w3.org/1999/xhtml">
    <!-- Side menu -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sideMenu">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Menu</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <!-- Side menu links -->
          <ul class="nav flex-column">
            <li class="nav-item"><a class="nav-link" href="/menu">Menu</a></li>
            <li class="nav-item"><a class="nav-link" href="/user-portal">Profile</a></li>
            <!-- Add more menu items here -->
          </ul>
        </div>
      <div class="offcanvas-footer text-center">
        <!-- Side menu links -->
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link btn bg-red" href="/logout">Logout</a></li>
          <li class="nav-item"><a class="nav-link" href="/user-portal">Profile</a></li>
          <!-- Add more menu items here -->
        </ul>
      </div>
    </div>
</th:block>