<th:block th:fragment="deals" xmlns:th="http://www.w3.org/1999/xhtml">

  <div data-role="carousel" data-cls-controls="fg-cyan">
    <div class="slide" data-cover="images/slide-1.jpg">
      <div class="container">
        <div class="carousel-caption p-1 p-5-md p-8-lg p-10-xl text-center"> <!-- Apply vertical-center class -->
          <h1>Special Offer!</h1>
          <p>Buy 2, Get 3 Free!</p>
          <div class="mt-1">
          <a href="#" class="button primary large">Shop Now</a>
          </div>
        </div>
      </div>
    </div>
    <div class="slide" data-cover="images/bg-2.jpg"></div>
    <div class="slide" data-cover="images/bg-3.jpg"></div>
    <div class="slide" data-cover="images/bg-4.jpg"></div>
  </div>

</th:block>