<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Setup Process</title>
  <!-- Include MetroUI CSS and JavaScript -->
  <link rel="stylesheet" href="https://cdn.metroui.org.ua/v4/css/metro-all.min.css">
  <script src="https://cdn.metroui.org.ua/v4/js/metro.min.js"></script>
</head>
<body>
<div class="container">
  <h1>Setup Process</h1>
  <ul data-role="tabs" data-expand="sm">
    <li><a href="#_target_1">Home</a></li>
    <li><a href="#_target_2">Profile</a></li>
    <li><a href="#_target_3">Links</a></li>
    <li class="disabled"><a href="#">Disabled</a></li>
  </ul>
  <div class="border bd-default no-border-top p-2">
    <div id="_target_1">
      A falsis, calceus altus racana.
    </div>
    <div id="_target_2">
      The shield is a post-apocalyptic nanomachine.
    </div>
    <div id="_target_3">
      Cream soup is just not the same without basil
    </div>
  </div>
</div>
</body>
</html>
