<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-bs-theme="light">
<head>
  <meta charset="UTF-8">
  <div th:replace="common/fragments/head :: header"></div>
  <title th:text="#{business.name}"></title>
</head>
<body class="bg-primary">
<!-- Page Content -->

<div th:replace="common/fragments/nav/navbar :: navbar"></div>

<div class="container" style="margin-top: 7rem;">

  <div th:if="${role == 'ADMIN' || role == 'DEVELOPER'}" class="row">
    <div th:replace="common/fragments/portal/admin/details-card :: showAdmin"></div>
  </div>
  <div class="row"> <!-- Add this row to contain the cards -->
    <div th:replace="common/fragments/portal/current-balance :: balanceCard('Current Balance', '$102.30', '5')"></div>
    <div th:replace="common/fragments/portal/current-balance :: balanceCard('Total Points', '350 Points', '10')"></div>
  </div>

</div>
</body>

<div th:replace="common/fragments/footer :: footer"></div>
</html>