<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <div th:replace="common/fragments/head :: header"></div>
    <title th:text="#{business.name}"></title>
</head>
<body class="bg-primary">
<!-- Page Content -->
<div class="container">

    <div th:replace="common/fragments/navbar :: navbar"></div>

    <!-- Content Here -->

    <div class="container-fluid d-flex align-items-center justify-content-center vh-100 pt-20">
        <div class="text-center">
            <h1 class="display-2 text-white">404 Not Found</h1>
            <p class="lead">The page you are looking for could not be found.</p>
            <a href="/" class="btn btn-secondary">Return Home</a>
        </div>
    </div>

</div>
</body>

<div th:replace="common/fragments/footer :: footer"></div>
</html>