<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <div th:replace="common/fragments/head :: header"></div>
    <title>Restaurant Main Page</title>
</head>
<body>
    <div class="container-fluid mx-auto">
        <div th:replace="common/fragments/navbar :: navbar"></div>


        <div>
            <div th:replace="common/fragments/special-deals :: deals"></div>
        </div>

        <div th:replace="common/fragments/footer :: footer"></div>
    </div>
</body>
</html>