<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-bs-theme="light">
    <head>
        <div th:replace="common/fragments/head :: header"></div>
        <title>Restaurant Main Page</title>
    </head>
    <body class="bg-primary">

        <div class="container">

            <div th:replace="common/fragments/navbar :: navbar"></div>

            <div th:replace="common/fragments/theme-toggle :: theme-toggle"></div>

        </div>
    </body>


    <div th:replace="common/fragments/footer :: footer"></div>
</html>