<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <div th:replace="common/fragments/head :: header"></div>
    <title th:text="#{business.name}"></title>
</head>
<body class="bg-primary">
<!-- Page Content -->
<div class="container" style="margin-top: 7rem;">

    <div th:replace="common/fragments/nav/navbar :: navbar"></div>

    <!-- Content Here -->
    <!-- Search functionality -->
    <nav class="navbar navbar-light justify-content-center mt-4">
        <form class="form-inline">
            <button type="button" class="btn btn-primary btn-lg mr-3" id="btnSort">Sort</button>
            <input class="form-control form-control-lg mr-sm-2" type="search" placeholder="Type a name" aria-label="Search" id="search">
            <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </form>
    </nav>

    <!-- Cards -->
    <div class="layout-margin-8 mt-4">
        <div class="card-deck m-5">
            <div class="card card-shadow text-center">
                <div class="card-body">
                    <h4 class="card-title">Rob Doe</h4>
                    <p class="card-text">UX Designer</p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text"><small class="text-muted">Team A</small></p>
                    <a href="#">
                        <button type="button" class="btn btn-outline-primary">Email</button>
                    </a>
                </div>
            </div>
            <div class="card card-shadow text-center">
                <div class="card-body">
                    <h4 class="card-title">Scott Doe</h4>
                    <p class="card-text">UX Designer</p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text"><small class="text-muted">Team B</small></p>
                    <a href="#">
                        <button type="button" class="btn btn-outline-primary">Email</button>
                    </a>
                </div>
            </div>
            <div class="card card-shadow text-center">
                <div class="card-body">
                    <h4 class="card-title">John Doe Vasile</h4>
                    <p class="card-text">Product Designer</p>
                    <div class="dropdown-divider"></div>
                    <p class="card-text"><small class="text-muted">Team C</small></p>
                    <a href="#">
                        <button type="button" class="btn btn-outline-primary">Email</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<div th:replace="common/fragments/footer :: footer"></div>

<script>
    // this overrides `contains` to make it case insenstive
jQuery.expr[':'].contains = function(a, i, m) {
  return jQuery(a).text().toUpperCase()
      .indexOf(m[3].toUpperCase()) >= 0;
};

$('#search').keyup(function (){
    $('.card').removeClass('d-none');
    var filter = $(this).val(); // get the value of the input, which we filter on
    $('.card-deck').find('.card .card-body h4:not(:contains("'+filter+'"))').parent().parent().addClass('d-none');
})

$('#btnSort').click(function (){
    $('.card-deck .card').sort(function(a,b) {
        return $(a).find(".card-title").text() > $(b).find(".card-title").text() ? 1 : -1;
    }).appendTo(".card-deck");
})
</script>
</html>